#
# A '#' at the beginning of a line means the rest of the line is a comment.
#
# Some options MUST be set in this file, other options can be toggled while
# playing by selecting the options menu with 'O'.
#  For a list of options available see the <opthelp.> file.
#
# To change the configuration, comment out the unwanted lines, and
# uncomment the configuration you want.

# *** OPTIONS ***
#
# The three options on this line should be used for most setups.  
# If your machine isn't very IBM-compatible, and NetHack doesn't work, 
# try commenting out this line.
OPTIONS=rawio,BIOS,IBMgraphics

# To use VGA graphical tiles on an MS-DOS PC with VGA or better,uncomment 
# this:
#OPTIONS=video:autodetect

# Some versions of NetHack use the pc speaker to play the notes given when
# playing music instruments in NetHack.  To use this feature, if available,
# uncomment the following line:
#OPTIONS=soundcard:autodetect

# If your machine is NEC PC-9800, use:
#OPTIONS=rawio,BIOS,video:default
# If you use an Atari and want tty use:
#OPTIONS=windowtype:tty,rawio,BIOS

# *** Personal Preferences ***
# Some options to set personal preferences.  Uncomment and change these to
# suit your personal preference.  If several people are to use the same
# configuration, options like these should not be set.
#
#OPTIONS=name:Janet,role:Valkyrie,race:Human,gender:female,align:lawful
#OPTIONS=dogname:Fido,catname:Morris,fruit:guava
#OPTIONS=horsename:Silver
#OPTIONS=autopickup,pickup_types:$"=/!?+
#OPTIONS=packorder:")[%?+/=!(*0_`
#OPTIONS=scores:10 top/2 around/own
#OPTIONS=nolegacy,noverbose
#OPTIONS=menustyle:traditional

# Here are some examples of reasonable defaults:

# Automatically pick up things onto which you move
OPTIONS=autopickup

# Specify the object types to be picked up when autopickup is on.
# For example "pickup_types:?!/" would pick up all scrolls, potions and wands.
OPTIONS=pickup_types:$"?!=/

# Prompt for confirmation before picking up items that will push the
# character's encumbrance past a given level:
# Valid values are: unencumbered, burdened, stressed, strained, or overtaxed
OPTIONS=pickup_burden:unencumbered

# Show descriptive dungeon names on bottom status line
OPTIONS=show_dgn_name

# some decent defaults
OPTIONS=disclose:yiyayvygyc

# Set the symbol used to display boulders. Default value is `
OPTIONS=boulder:0

# Distinguish visually between lit and unlit corridors
OPTIONS=lit_corridor

# Visually distinguish pets from similar animals
OPTIONS=hilite_pet

# Always show the "uncursed" label on objects
OPTIONS=showbuc

###########
# MSGTYPE #
###########
#-------------------------
#| Contents of "MSGTYPE" |
#---------------------------------------------------------------------------------------------------
# MSGTYPE Mini-Spoiler    : What it sounds like.                                                   :
# Delayed Instadeaths     : Stops when you are about to die so you don't blow through the message. :
# Message Spam            : Eliminates messages you don't want to see.                             :
# Miscellaneous           : Other customizations to messages.                                      :
# --------------------------------------------------------------------------------------------------
#------------------------
#| MSGTYPE Mini-Spoiler |
#------------------------
# MSGTYPE is a patch that lets you control what messages you want to see.
# Available options are:
# MSGTYPE=stop   - Force a --More-- to appear after the message, to make it harder to blow through.
# MSGTYPE=hide   - Don't display a message
# MSGTYPE=norep  - Don't display a message twice in a row, only if another message is in between
# MSGTYPE=show   - Display the message as normal; useful for exceptions
#
# You can use crude regex/wildcards:
# * represents zero to infinity characters.
# ? represents one character.
#
# Like menucolors, later entries take precedence, so exceptions should go last.
# Part of suggested options is disabled by default, obviously good ones are enabled.
#-----------------------
#| Delayed Instadeaths |
#-----------------------
# Credits to stth, obtained via TjrWiz (username tjr2)
MSGTYPE=stop "The couatl swings itself around you!"
MSGTYPE=stop "The electric eel swings itself around you!"
MSGTYPE=stop "The giant eel swings itself around you!"
MSGTYPE=stop "The kraken swings itself around you!"
MSGTYPE=stop "The python grabs you!"
MSGTYPE=stop "You don't feel very well."
MSGTYPE=stop "You are turning a little green."
MSGTYPE=stop "Your limbs are getting oozy."
MSGTYPE=stop "Your skin begins to peel away."
MSGTYPE=stop "You are turning into a green slime."
MSGTYPE=stop "You are slowing down."
MSGTYPE=stop "Your limbs are stiffening."
MSGTYPE=stop "It constricts your throat!"
MSGTYPE=stop "You find it hard to breathe."
MSGTYPE=stop "You're gasping for air."
MSGTYPE=stop "Your blood is having trouble reaching your brain."
MSGTYPE=stop "You can no longer breathe."
MSGTYPE=stop "You're turning blue."
MSGTYPE=stop "Your consciousness is fading."
MSGTYPE=stop "You feel deathly sick."
MSGTYPE=stop "You feel much worse."
MSGTYPE=stop "You feel even worse."

# Things that aren't dangerous by themselves but could kill you if you don't
# notice.
MSGTYPE=stop "You fail to cast the spell correctly."
MSGTYPE=stop "You see here a cockatrice corpse."
MSGTYPE=stop "You see here a chickatrice corpse."
MSGTYPE=stop "You are beginning to feel weak."

#----------------
#| Message Spam |
#----------------
# NetHack gives you a lot of messages that you don't really need, or you don't
# really need once you're an experienced player. Taking them out can save you
# some typing and some messages you don't need to see.

# Annoying spam when using poisoned weapons. Theoretically this removes useful
# information, but I know what monsters are poison resistant and really don't
# give a crap when they become unpoisoned, since I know they will eventually
# and I can hit the 'i' key if I want to see how many I have left.
#MSGTYPE=hide "The poison doesn't seem to affect the *."
#MSGTYPE=hide "The poison doesn't seem to affect it."
#MSGTYPE=hide "Your arrow*is no longer poisoned."
#MSGTYPE=hide "Your dart*is no longer poisoned."

# For dagger/arrowstorming. Displays individual hit messages
# only if you miss or if you only threw one. Else you just get "You throw x
# daggers" and "You kill the foo" (and "The poison was deadly...").
# The one potential gotcha is that you get no feedback if your shot was actually
# out of range, so it's wise to know your maximum shooting range.
#      implicit                   # SHOW "You shoot [x] arrows."
#MSGTYPE=show "The * hits the *"   # SHOW "the arrow hits the foo"
#MSGTYPE=hide "The ??? ?*? hits *" # HIDE "the 1st/2nd/3rd/4th/5th arrow hits the foo"

# Sokoban spam.
#MSGTYPE=hide "With great effort you move the boulder."
#MSGTYPE=hide "* moves the boulder." #riding
#MSGTYPE=hide "You try to move the boulder, but in vain."
#MSGTYPE=hide "* tries to move the boulder, but cannot." #riding

# When a pet is slower than you, you have to listen to the game complain a lot.
# It'll still make noise, but no need to see the same thing twice over.
#MSGTYPE=hide "You pull on the leash."

# The whole point of autoquiver is that you don't have to be bothered
# with what's in your quiver.
#MSGTYPE=hide "You fill your quiver*"

# If you're like me and type fast, you'll get annoyed very quickly by
# this message when you press the spacebar too many times.
#MSGTYPE=hide "Unknown command ' '."

#-----------------
#| Miscellaneous |
#-----------------

# This message is easy to miss.
MSGTYPE=stop "You feel more confident in your*skills."

#warning about moster using bullwhip
MSGTYPE=stop "The bullwhip wraps around * you're wielding!"

#more info about MSGTYPE available at http://nethackwiki.com/wiki/MSGTYPE
#this configuration is based on scorchgeek's rcfile: http://alt.org/nethack/userdata/s/scorchgeek/scorchgeek.nh343rc

#MONSTERCOLOR allows changing color for a monster. 
#Available colours: black, red, green, brown, blue, magenta, cyan, gray, orange, lightgreen, yellow, lightblue, lightmagenta, lightcyan, white. 
#For example, uncommenting following options reverts changes introduced by UnNetHackPlus
#MONSTERCOLOR=chickatrice:brown
#MONSTERCOLOR=fox:red
#MONSTERCOLOR=warg:brown
#MONSTERCOLOR=mind flayer:magenta
#MONSTERCOLOR=master mind flayer:magenta
#MONSTERCOLOR=manes:red
#MONSTERCOLOR=goblin:gray
#MONSTERCOLOR=orc:red
#MONSTERCOLOR=hill orc:yellow
#MONSTERCOLOR=rabid rat:brown
#MONSTERCOLOR=aleax:yellow
#MONSTERCOLOR=giant bat:red
#MONSTERCOLOR=vampire bat:black
#MONSTERCOLOR=kop Lieutenant:cyan
#MONSTERCOLOR=owlbear:brown
#MONSTERCOLOR=Wizard of Yendor:magenta
#MONSTERCOLOR=cthulhu:magenta
#MONSTERCOLOR=giant beetle:black

# Prevent alert notification messages about feature changes in a
# (Un)NetHack version and the previous versions
OPTIONS=suppress_alert=3.5.0

# General options.  You might also set "silent" so as not to attract
# the boss's attention.
#
# number_pad option can have an optional value of 0 (off), 1 (on), 
# or 2(on,legacy-mode) which causes 5='g', alt-5='G', alt-0='I'
#
OPTIONS=notime,noshowexp,number_pad:2
#
# If you want to get rid of "use #quit to quit..." use:
#OPTIONS=suppress_alert:3.3.1
#
#
# *** LOCATIONS ***
# Some platforms allow you to change the location where various things are kept.
# IMPORTANT: If you change any of these locations, the directories they
# point at must exist.  NetHack will not create them for you.
#
# The default location for everything.
# Note: On Windows HACKDIR defaults to the location 
#       of the NetHack.exe or NetHackw.exe file so
#       setting HACKDIR below to override that is 
#       not usually necessary or recommended.
#HACKDIR=c:\games\nethack
#
# The location that level files in progress are stored (default=HACKDIR, writeable)
#LEVELDIR=c:\nethack\levels
#
# The location where saved games are kept (default=HACKDIR, writeable)
#SAVEDIR=c:\nethack\save
#
# The location that bones files are kept (default=HACKDIR, writeable)
#BONESDIR=c:\nethack\save
#
# The location that file synchronization locks are stored (default=HACKDIR, writeable)
#LOCKDIR=c:\nethack\levels
#
# The location that a record of game aborts and self-diagnosed game problems
# is kept (default=HACKDIR, writeable)
#TROUBLEDIR=c:\nethack\trouble
#
# *** CHARACTER GRAPHICS ***
#
# See the on-line help or the Guidebook for which symbols are in which
# positions.
#
# If you merely set the IBMgraphics option as above, NetHack will use IBM
# extended ASCII for dungeon characters.  If you don't like the selections,
# you can make up your own via these graphics options, but you should still
# set IBMgraphics if you are using IBM graphics characters to get the correct
# processing.
#
# ================================================
# The defaults using the IBM graphics character set:
#DUNGEON = 032 179 196 218 191 192 217 197 193 194 \
#          180 195 250 254 254 043 043 240 241 250 \
#          176 177 243 242 060 062 095 124 092 035 \
#          244 247 250 247 250 250 035 035 032 035 \
#          247
#
# ================================================
# Some alternatives:
#DUNGEON=  032 186 205 201 187 200 188 206 202 203 \
#	   185 204 249 239 239 254 254 240 241 249 \
#	   177 177 060 062 060 062 095 124 092 035 \
#	   244 247 249 247 042 042 179 196 046 035 \
#	   247
#
#TRAPS=    094 094 094 094 094 094 094 094 094 094 \
#	   094 094 094 094 094 034 094 094 094 094 \
#	   094 094

# ================================================
# Here is a recommendation sent in by Michael Feir
# for use by blind NetHack players.
#
#DUNGEON=  032 124 045 124 124 124 124 045 045 045 \
#          124 124 046 045 124 043 043 046 035 035 \
#          060 062 060 062 095 092 035 126 126 126 \
#          126 042 042 035 035 032 035 126
#
#TRAPS=    094 094 094 094 094 094 094 094 094 094 \
#          094 094 094 094 094 094 094 094 094 094 \
#          094 094
#
#EFFECTS=  124 095 092 047 042 033 041 040         \
#          048 035 064 042                         \
#          047 045 092 058 058 092 045 047         \
#          047 045 092 058 032 058 092 045 047

# ================================================
# Example using the DEC Rainbow/ANSI line-drawing character set:
#
# If you have compiled with TERMLIB, merely set the DECgraphics option as
# above.  NetHack will then switch into the VTxxx line-drawing character set
# (aka ANSI ruling character set '0') for dungeon characters.  If you don't
# like the selections, you can make up your own via the graphics options,
# adding 128 to the value of any line-drawing character you want to use.
# (But you should still set DECgraphics to get the correct processing.)

# =================================================
# *** VIDEOCOLORS AND VIDEOSHADES ***
#
# While playing on NEC PC-9800, default game display may be difficult to
# read.  Try following setting.
#
#OPTIONS=videocolors:4-2-6-1-5-3-4-2-6-1-5-3,videoshades:normal-normal-normal
#
# DEC Rainbows will hang if rawio is set, so they should instead use:
#OPTIONS=BIOS,DECgraphics

